<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a new Job </h1>
    <form action="/jobs" method="post">
        <input type="text" name="postName" id="" placeholder="Post Name">
        <input type="text" name="companyName" id="" placeholder="company Name">
        <input type="number" name="ctc" id="" placeholder="ctc">
        <input type="number" name="cgpa" id="" placeholder="cgpa">
        <input type="text" name="location" id="" placeholder="location">
        <input type="number" name="numberOfPosition" id="" placeholder="numberOfPosition">
        <textarea name="description" id="" cols="30" rows="10" placeholder="description" ></textarea>
        <input type="submit" value="add new Job">
    </form>
</body>
</html>