<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Questions</title>
</head>
<body>
    <form action="/jobs/<%= id %>/questions" method="post">
        <input type="text" name="title" id="" placeholder="title">
        <input type="text" name="options1" id="" placeholder="options1">
        <input type="text" name="options2" id="" placeholder="options2">
        <input type="text" name="options3" id="" placeholder="options3">
        <input type="text" name="options4" id="" placeholder="options4">
        <input type="text" name="correctAnswer" id="" placeholder="correctAnswer">
        <input type="submit" value="add questions">
    </form>
</body>
</html>